@font-face {
  font-family: 'Zen Dots';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/zendots/v12/XRXX3ICfm00IGoesQdaNRs71cA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Zen Dots';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/zendots/v12/XRXX3ICfm00IGoesQdaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  line-height: 1.0;
  min-height: var(--viewport-height);
  min-width: 320px;
  overflow-x: hidden;
  word-wrap: break-word;
  background: url("/res/custombg1.png");
  background-size: cover;
}

body {
  -webkit-text-size-adjust: none;
}

body {
  line-height: 1;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: inherit;
  vertical-align: baseline;
}

*, ::before, ::after {
  box-sizing: border-box;
}

:root {
  --background-height: 100vh;
  --site-language-alignment: left;
  --site-language-direction: ltr;
  --site-language-flex-alignment: flex-start;
  --site-language-indent-left: 1;
  --site-language-indent-right: 0;
  --viewport-height: 100vh;
}
html {
  font-size: 18pt;
}

#wrapper {
  -webkit-overflow-scrolling: touch;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--viewport-height);
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding: 1rem 1rem 1rem 1rem;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  line-height: 1.0;
  word-wrap: break-word;
}

body {
  -webkit-text-size-adjust: none;
}

body {
  line-height: 1;
}

:root {
  --background-height: 100vh;
  --site-language-alignment: left;
  --site-language-direction: ltr;
  --site-language-flex-alignment: flex-start;
  --site-language-indent-left: 1;
  --site-language-indent-right: 0;
  --viewport-height: 100vh;
}
html {
  font-size: 18pt;
}

.linkup:hover {
    background: linear-gradient(to right, #db4450, #a15c34, #a37b25, #7ea73d, #239269, #5b74d8);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    animation: rainbow_animation 5s linear infinite;
    animation-fill-mode: both;
    background-size: 6969% 666%;
}
    /* i very much stole this from stackoverflow, thanks strange EDIT: hi naku thanks for funny rainbow */
    @keyframes rainbow_animation {
        0%,100% {
            background-position: 0 0;
        }

        50% {
            background-position: 100% 0;
        }
}

  .linkup {
    display: inline-block;
    transition-property: transform;
    transform: translateZ(0);
    text-align: left;
    transition: 0.3s;
    &:hover {
    letter-spacing: 0.5px;
    }
  }
     
  .ven {
    display: inline-block;
    vertical-align: center;
    &:hover{
      -webkit-animation-name: ven;
      animation-name: ven;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 0.3;
      animation-iteration-count: infinite;
      }
  }

  @-webkit-keyframes ven {
    16.65% {
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);

    }
    49.95% {
      -webkit-transform: translateY(0.5px);
      transform: translateY(0.5px);

    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes ven {
    16.65% {
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);

    }
    49.95% {
      -webkit-transform: translateY(0.5px);
      transform: translateY(0.5px);

    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }